<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= medicine.exp_date %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= medicine.form %>
  </p>

 

  <p>
    <strong>Category:</strong>
    <%= medicine.category.name %>
  </p>

 
  <p>
    <strong>Prescribed:</strong>
    <%= medicine.prescribed %>
  </p>

</div>
