<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= medicine.exp_date %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= medicine.form %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= medicine.manufacturer %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= medicine.category_id %>
  </p>

  <p>
    <strong>Batch no:</strong>
    <%= medicine.batch_no %>
  </p>

  <p>
    <strong>Prescribed:</strong>
    <%= medicine.prescribed %>
  </p>

</div>
