<h1>Appointments</h1>

<%= link_to "New Appointment", new_admin_appointment_path, class: "btn btn-primary" %>

<table>
  <thead>
  <tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Scheduled At</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.patient_id %></td>
      <td><%= appointment.doctor_id %></td>
      <td><%= appointment.scheduled_at %></td>
      <td><%= appointment.status %></td>
      <td>
        <%= link_to "Show", admin_appointment_path(appointment) %> |
        <%= link_to "Edit", edit_admin_appointment_path(appointment) %> |
        <%= link_to "Delete", admin_appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
