<h2>Prescriptions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Medicine</th>
      <th>Quantity</th>
      <th>QR Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.patient.name %></td>
        <td><%= prescription.doctor.name %></td>
        <td><%= prescription.medicine.name %></td>
        <td><%= prescription.prescription_quantity %></td>
        <td>
          <% if prescription.qr.present? %>
            <%= raw prescription.qr.qr_code %>
          <% else %>
            No QR
          <% end %>
        </td>
        <td>
          <%= link_to "View", prescription_path(prescription), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
