<%= form_with(model: @medicine, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :manufacturer, "Manufacturer" %>
    <%= f.text_field :manufacturer, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_date, "Expiration Date" %>
    <%= f.date_field :exp_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price" %>
    <%= f.number_field :price, class: "form-control", step: 0.01 %>
  </div>
  <%= f.submit "Save Medicine", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", admin_medicines_path, class: "btn btn-secondary mt-3" %>
