<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :license_no %>
  <%= f.text_field :license_no, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :education %>
  <%= f.text_field :education, class: "form-control" %>
</div>

<div class="field">
  <%= f.label :password %> (Leave blank to keep current)
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

