<h1>Doctor Details</h1>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>
<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>
<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>
<p>
  <strong>Experience:</strong>
  <%= @doctor.experience %>
</p>

<%= link_to "Edit", edit_admin_doctor_path(@doctor), class: "btn btn-secondary" %>
<%= link_to "Back to Doctors", admin_doctors_path, class: "btn btn-link" %>
