<h1>Prescription Details</h1>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient_id %>
</p>
<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor_id %>
</p>
<p>
  <strong>Dosage:</strong>
  <%= @prescription.dosage %>
</p>
<p>
  <strong>Instructions:</strong>
  <%= @prescription.instructions %>
</p>
<p>
  <strong>Medicine Details:</strong>
  <%= @prescription.medicine_details %>
</p>

<%= link_to "Edit", edit_admin_prescription_path(@prescription), class: "btn btn-secondary" %>
<%= link_to "Back to Prescriptions", admin_prescriptions_path, class: "btn btn-link" %>
