<h1>Change Password</h1>

<%= form_with model: @patient, url: patients_update_password_path, method: :patch do |f| %>
  <div>
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit "Update Password", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Dashboard", patients_dashboard_path, class: "btn btn-secondary" %>
