<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :ame, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :phone_number %>
  <%= f.text_field :phone, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :dob, "Date of Birth" %>
  <%= f.date_field :dob, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :medical_history %>
  <%= f.text_area :medical_history, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password %> (Leave blank to keep current)
  <%= f.password_field :password, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
