<h2>Edit Patient</h2>

<%= form_with(model: @patient, url: admin_patient_path(@patient), method: :patch, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "form-control", value: @patient.name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "form-control", value: @patient.name %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control", value: @patient.email %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Phone Number" %>
    <%= f.text_field :phone, class: "form-control", value: @patient.phone %>
  </div>

  <div class="form-group">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob, class: "form-control", value: @patient.dob %>
  </div>



  <%= f.submit "Update Patient", class: "btn btn-primary mt-3" %>
<% end %>

<%= link_to "Cancel", admin_patient_path(@patient), class: "btn btn-secondary mt-3" %>
