<h1>Patients</h1>

<%= link_to "New Patient", new_admin_patient_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.name %></td>
      <td><%= patient.email %></td>
      <td><%= patient.phone %></td>
      <td>
        <%= link_to "Show", admin_patient_path(patient) %> |
        <%= link_to "Edit", edit_admin_patient_path(patient) %> |
        <%= link_to "Delete", admin_patient_path(patient), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
