<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <h2>Admin Panel</h2>
  <%= link_to "Dashboard", admin_root_path %> |
  <%= link_to "Medicines", admin_medicines_path %> |
  <%= link_to "Categories", admin_categories_path %>
  <hr>
  <%= yield %>
</body>
</html>
