<!DOCTYPE html>
<html>
  <head>
    <title>MediCliq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", type: "module", defer: true %>
  <!-- Material UI CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/muicss@0.9.43/dist/css/mui.min.css">
  
  <!-- Custom Styles -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
 <%= javascript_include_tag "application", "data-turbo-track": "reload" %>


    







    <script src='https://meet.jit.si/external_api.js'></script>
 
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= javascript_importmap_tags %>

  </head>

  <body>
   

    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/muicss@0.9.43/dist/js/mui.min.js"></script>


  </body>
</html>
